NEXT_PUBLIC_SUPABASE_URL=https://ntxohwywkdkyhdfrtdhp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50eG9od3l3a2RreWhkZnJ0ZGhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1OTk0NDksImV4cCI6MjA5NTE3NTQ0OX0.li3BhjDvOLdxff78o0G8vUI7-C53k5-l2NKAtaG_8S4
